@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --base-font: "Poppins", sans-serif;
    --rail-font: "Raleway", sans-serif;
    --white: #ffffff;
    --black: #000000;
    --black-blue: #00001D;
    --blue: #2F2482;
    /* --orange: #F15A22; */
    --orange: #FF9933;
    --dark-orange: #E8590C;
    --text-orange: #E8590C;
    /* --green: #009444; */
    --green: #138808;
    --yellow: #fcb045;
    --text-color: #5c5e64;
    --blue: #121FCF;
}
.header-navbar {
    background-color: #212529 !important;
    padding: 0px;
    transition: all 0.5s;
}
.header-navbar .navbar {
	background-color: #212529 !important;
	padding: 0px;
	border: none;
	transition: all 0.5s;
}

.navbar-right {
    margin-top: 28px;
}
.header-navbar .navbar .navbar-nav li.dropdown .dropdown-menu {
	right: auto;
	left: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #fcb045 !important;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    font-family: var(--rail-font);
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    margin-right: 16px;
    padding: 8px 0px;
    text-transform: capitalize;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	background-color: transparent;
    color: #fcb045 !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
    color: #fcb045 !important;
}
.header-navbar.sticky-top .navbar {
  background-color: var(--black-blue) !important;
}
.header-navbar .navbar.scrolled {
  background-color: var(--black-blue) !important;
}
.header-navbar .navbar .navbar-nav .nav-item .nav-link {
	font-family: var(--rail-font);
	color: var(--white);
	font-size: 14px;
	font-weight: 500;
	margin-right: 40px;
	padding: 8px 0px;
}
.header-navbar .navbar .navbar-nav .nav-item .nav-link:hover {
	color: #fcb045;
}
.header-navbar .navbar .navbar-nav .nav-item.active .nav-link {
	color: #fcb045;
}
.header-navbar .navbar .navbar-nav .nav-item.active .dropdown-toggle::after {
	border-color: #fcb045;
}

.header-navbar .navbar .navbar-nav .cta-btn {
	background: linear-gradient(135deg, #5e5699, #8f42ec);
	color: var(--white);
	padding: 8px 16px;
	margin-right: 0px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}
.header-navbar .navbar .navbar-nav .cta-btn:hover {
	background: linear-gradient(135deg, #9a55ee, #ba8df2);
    box-shadow: 0 12px 24px -6px rgba(143, 66, 236, .2);
    color: var(--white) !important;
}
.header-navbar .navbar .navbar-toggler {
	border-color: var(--white);
	padding: 1px 5px;
	border: none;
}
.header-navbar .navbar .navbar-toggler .navbar-toggler-icon {
	filter: invert(99%) sepia(9%) saturate(3%) hue-rotate(40deg) brightness(200%) contrast(100%);
}
.header-navbar .navbar .navbar-nav .dropdown-toggle::after {
	content: '';
	height: 9px;
	width: 9px;
	position: relative;
	top: 2px;
	left: 3px;
	border-top: var(--white) solid 2px;
	border-left: var(--white) solid 2px;
	border-right: none;
	transform: rotate(225deg);
}
.header-navbar .navbar .navbar-nav .nav-item.dropdown .nav-link:hover.dropdown-toggle::after {
	color: #fcb045;
}
.header-navbar .navbar .navbar-nav .dropdown-menu .dropdown-toggle::after {
	border-color: var(--black);
	transform: rotate(135deg);
	border-bottom: none;
	position: absolute;
	top: 16px;
	right: 15px;
	left: auto;
	height: 7px;
	width: 7px;
}
.header-navbar .navbar .navbar-nav li.dropdown .dropdown-menu {
	background-color: #343a40;
	border: 1px solid #343a40;
	min-width: 200px;
}
.header-navbar .navbar .navbar-nav li.dropdown .dropdown-menu li a {
	font-family: var(--rail-font);
	padding: 8px 15px;
	color: var(--white);
	font-size: 14px;
	font-weight: 500;
	border-radius: 10px;
	position: relative;
	white-space: normal;
	width: 100%;
}
.header-navbar .navbar .navbar-nav .dropdown-item:focus,
.header-navbar .navbar .navbar-nav .dropdown-item:hover {
	/* background: linear-gradient(90deg, var(--orange), var(--blue)); */
	/*background: linear-gradient(90deg, var(--orange), var(--green));*/
	background: transparent;
	color: #fcb045;
}
.header-navbar .navbar .navbar-nav li.dropdown .dropdown-menu li a:hover {
	background: transparent;
	color: #fcb045;
}
.header-navbar .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover.dropdown-toggle::after,
.header-navbar .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:focus.dropdown-toggle::after {
	border-color: #fcb045;
}
.header-navbar .navbar .navbar-toggler:focus {
	box-shadow: none;
}
/* .header-navbar .dropdown:hover > .dropdown-menu,
.header-navbar .dropend:hover > .dropdown-menu {
  display: block;
} */
.offcanvas {
	background-color: var(--black-blue);
	padding: 0px 10px;
}
.offcanvas .offcanvas-header .offcanvas-title img {
	max-width: 141px;
}
.offcanvas-header .btn-close {
	filter: invert(99%) sepia(9%) saturate(3%) hue-rotate(40deg) brightness(200%) contrast(100%);
}
.navbar-brand {
	perspective: 1200px;
	display: inline-flex;
	height: auto;
}
.navbar-brand img {
    max-height: 60px;
    object-fit: contain;
}
.logo-spin {
	position: relative;
	width: 60px;   /* adjust size */
	height: 60px;
	transform-style: preserve-3d;
	animation: spinY 5s linear infinite;
	transform-origin: center;
}

.logo-spin img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	/* filter: drop-shadow(0 0 8px #fcb045); */
}

/* Back face (can be same or different image) */
.logo-spin img.back {
	transform: rotateY(180deg);
}

@keyframes spinY {
	0%   { transform: rotateY(0deg) rotateX(3deg); }
	50%  { transform: rotateY(180deg) rotateX(-3deg); }
	100% { transform: rotateY(360deg) rotateX(3deg); }
}



/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .header-navbar .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }
	.header-navbar .dropdown ul {
        margin: 0;
        padding: 10px 0;
        display: block;
        position: absolute;
        visibility: hidden;
        top: 130%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 0.375rem;
        z-index: 99;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }
    /*.navbar-toggle {
        display: none;
    }
    .navbar-right {
 	   float: right !important;
        margin-right: -15px;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-header {
        float: left;
    }*/


}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	.header-navbar .navbar .navbar-nav .dropdown-toggle::after {
		position: absolute;
		top: 12px;
		right: 3px;
		left: auto;
	}
	.header-navbar .navbar .navbar-nav .nav-item .nav-link.cta-btn {
		margin-top: 10px;
	}
    
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	
}

@media (min-width: 1200px) {
	
}
/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .navbar-left, .navbar-right {
    	padding: 0px 30px;
    }
}

/* Custom Navbar Breakpoint: expand after 1200px instead of 768px */
@media (max-width: 1199px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
    margin-top: 27px;
  }
  .navbar-collapse {
    border-top: 1px solid #e7e7e7;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
    padding-bottom: 20px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-default .navbar-nav>li>a {
	padding: 10px 0px;
  }
  .collapse.in {
    display: block !important;
  }
  .header-navbar .navbar .navbar-nav .cta-btn {
  	margin-top: 10px;
  }
}

