.dips-background-color-body {
	background-color: #aed1ff !important;
}

.dips-background-color-header {
	background-color: #c9e0ff !important;
	height: 130px !important;
}

.page-boxed .page-container {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

.page-footer .page-footer-inner {
    color: #000;
}

.dips-page-content {
	margin-left: 0px !important;
}

.dips-default-cursor:hover {
	cursor: default;
}

.dips-required {
    color: #e02222;
    font-size: 12px;
    padding-left: 2px;
}

.dips-mdl-select .mdl-select__label {
	color: #5264ae;
    font-size: 14px;
    top: 0px;
    visibility: visible;
}

.dips-telephone-textbox {
	padding: 10px 10px 10px 86px !important;
}

.flag-container {
	padding-top: 17px !important;
}

.intl-tel-input .selected-flag .iti-arrow {
	margin-top: -1px !important;
}

.intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
	font-size: 16px !important;
}

.intl-tel-input .selected-flag .iti-arrow {
	right: 3.5px !important;
}

.dips-name-textbox:focus ~ .bar::before, .dips-name-textbox:focus ~ .bar::after {
	margin-left: -67px;
    width: 50%;
}

.dips-logo {
	 height: 166px;
	 width: 401px;
}
/*input[type="text"].dips-not-required:required:invalid  {
	border-left: none;border-right: none;border-top: none;
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
}*/

@media only screen and (max-width: 640px) {
	.dips-logo {
		width: 100%;
	}
	.rs-mb30 {
		margin-bottom: 30px;
		margin-top: 0px !important;
	
	}
	.rs-ml0 {
		margin-left: 0;
	}
	.rs-font13 {
		font-size: 13px !important;
	}
}